* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS", sans-serif;
    color: #444;
    font-size: 1rem;
}
nav {
    height: 100%;
    width: 20%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

nav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

nav a:hover {
    color: #f1f1f1;
}
main, h1 {
    margin-left: 20%;
    padding: 3%;
}
h1{
    background-image: url("../img/banner.jpg");
    height: 200px;
    color: black;
}
main section section img{
    width: 75%;
}
.grid{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    align-self: center;
}
.grid h2{
    grid-column: 1/ span 4;
}
form{
    margin:  1rem 0 0 0;
}
input, textarea {
    width: 60%;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid #555;
    display: flex;
    border-radius: 10px;
}
#knopform{
    margin-top: 0.5rem;
}
input:focus, textarea:focus {
    background-color: lightblue;
    border: 3px solid black;
}
table {
    width: 80%;
    text-align: center
}
footer {
    margin-left: 20%;
    padding: 3%;
    text-align: center;
    background-color: rgb(20, 70, 100);
    color: white;
}
